In [2]:
dict = {'Name': 'Lugas', 'Age': 17, 'Class': 'TI22C'}
dict['Age'] = 19; 
dict['School'] = "Universitas Muhammadiyah Cirebon"

print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  19
dict['School']:  Universitas Muhammadiyah Cirebon

In [3]:
dict = {'Name': 'Lugas', 'Age': 19, 'Class': 'TI22C'}

del dict['Name'] 
dict.clear() 
del dict 

print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  dict['Age']
dict['School']:  dict['School']

In [5]:
dict = {"name": "Lugas", "age": 19, "city": "Kuningan"}
print(dict)

{'name': 'Lugas', 'age': 19, 'city': 'Kuningan'}

In [6]:
print(dict["name"])
print(dict.get("age"))

Lugas
19

In [10]:
dict["email"] = "lugasnusabkti@gmail.com"
print(dict)

dict["age"] = 20
print(dict)

{'name': 'Lugas', 'age': 20, 'city': 'Kuningan', 'email': 'lugasnusabkti@gmail.com'}
{'name': 'Lugas', 'age': 20, 'city': 'Kuningan', 'email': 'lugasnusabkti@gmail.com'}

In [15]:
for key in dict:
    print(key, dict[key])


for key, value in dict.items():
    print(key, value)

name Lugas
age 20
name Lugas
age 20

In [16]:
print("name" in dict)
print("city" in dict)

True
False

In [17]:
keys = dict.keys()
print(keys)

values = dict.values()
print(values)

items = dict.items()
print(items)

dict_keys(['name', 'age'])
dict_values(['Lugas', 20])
dict_items([('name', 'Lugas'), ('age', 20)])

In [20]:
nested_dict = {
    "person1": {"name": "Lugas", "age": 25},
    "person2": {"name": "Bob", "age": 30}
}
print(nested_dict)

{'person1': {'name': 'Lugas', 'age': 25}, 'person2': {'name': 'Bob', 'age': 30}}

In [19]:
dict1 = {"name": "Lugas", "age": 25}
dict2 = {"city": "New York", "email": "Lugas@example.com"}
dict1.update(dict2)
print(dict1)

{'name': 'Lugas', 'age': 25, 'city': 'New York', 'email': 'Lugas@example.com'}

In [18]:
squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}