In [1]:
list1 = ['Farhan', 'Abdan', 888, 777]
list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print ("list2[7]: ", list2[7])
print ("list1[0:2]: ", list1[0:2])

list2[7]:  8
list1[0:2]:  ['Farhan', 'Abdan']

In [2]:
list3 = ['fisika', 'kimia', 1945, 2017]
print ("Nilai ada pada index 2 : ", list3[2])

list3[2] = 458
print ("Nilai baru ada pada index 2 : ", list3[2])

Nilai ada pada index 2 :  1945
Nilai baru ada pada index 2 :  458

In [3]:
list4 = ['Kosong', 'Ada', 1965, 2012]

print (list4)
del list4[2]
print ("Setelah dihapus nilai pada index 2 : ", list4)

['Kosong', 'Ada', 1965, 2012]
Setelah dihapus nilai pada index 2 :  ['Kosong', 'Ada', 2012]

In [4]:
list5 = [1, 2, 3, 4, 5]
print(list5)

[1, 2, 3, 4, 5]

In [5]:
list6 = [1, "hello", 3.14, True]
print(list6)

[1, 'hello', 3.14, True]

In [12]:
list7 = [1, [2, 3], [4, 5, 6]]
print(list7)

[1, [2, 3], [4, 5, 6]]

In [9]:
list5.append(6)
print(list5)  # Output: [10, 2, 3, 4, 5, 6]

list5.insert(1, 15)
print(list5)  # Output: [10, 15, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]
[1, 15, 2, 3, 4, 5, 6]

In [15]:
list8 = [1, 2, 3]
list9 = [4, 5, 6]
gabung = list8 + list9
print(gabung)

ulang = list9 * 3
print(ulang)

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 4, 5, 6, 4, 5, 6]

In [16]:
print(len(list5))

4

In [18]:
print(3 in list5)
print(10 in list5)

True
False

In [19]:
nomer = [1, 2, 4, 5, 7]
print(max(nomer))
print(min(nomer))
print(sum(nomer))

7
1
19

In [21]:
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

In [20]:
unsorted_list = [32, 11, 45, 58, 29]
sorted_list = sorted(unsorted_list)
print(sorted_list)

unsorted_list.sort()
print(unsorted_list)

[11, 29, 32, 45, 58]
[11, 29, 32, 45, 58]