In [3]:
tup1 = ('PPKN', 'IPA', 1945, 2012)
tup2 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 0 )

print ("tup1[2]: ", tup1[2])
print ("tup2[3:5]: ", tup2[3:5])

tup1[2]:  1945
tup2[3:5]:  (4, 5)

In [6]:
tup3 = (69, 0.5)
tup4 = ('Sahrul', 'Azis')

tup5 = tup3 + tup4
print (tup5)

(69, 0.5, 'Sahrul', 'Azis')

In [8]:
tup6 = ('PJOK', 'Kalkulus', 1636, 2010)
print(tup6)

del tup6

tup6 = ('Paus', 'Dinosaurus', 2022)
print("Setelah menghapus tuple :", tup6)

('PJOK', 'Kalkulus', 1636, 2010)
Setelah menghapus tuple : ('Paus', 'Dinosaurus', 2022)

In [25]:
tup7 = (1, 2, 3, 4, 5)
print(tup7)

(1, 2, 3, 4, 5)

In [24]:
tup8 = (1, "hello", 3.14, True)
print(tup8)

(1, 'hello', 3.14, True)

In [23]:
tup9 = (1, (2, 3), (4, 5, 6))
print(tup9)

(1, (2, 3), (4, 5, 6))

In [21]:
a = 10
b = 20
a, b = b, a
print(a, b)

20 10

In [1]:
def get_coordinates():
    return (10, 20)

tup12 = get_coordinates()
print(tup12)

(10, 20)

In [26]:
tup13 = (1, 2, 3)
tup14 = (4, 5, 6)
gabung = tup13 + tup14
print(gabung)

ulang = tup13 * 4
print(ulang)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [28]:
print(3 in my_tuple)
print(10 in my_tuple)

True
False

In [29]:
nilai = (57, 34, 78, 55, 98, 82)
print(max(nilai))
print(min(nilai))
print(sum(nilai))

98
34
404

In [30]:
tup15 = (1945)
print(tup15)

love = tup15
print(love)

1945
1945